[Unit]
Description = HTTP API server that renders all dynamic graphics for Kikuri's card game.
After = network.target

[Service]
Type = exec
Restart = on-failure
ExecStart = /etc/kikuri/maestro/bin/maestro addr="127.0.0.1:8808"
WorkingDirectory= /etc/kikuri/maestro
MemoryAccounting=true
MemoryHigh=128M
MemoryMax=256M
RestartSec = 120
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target